.CompanyView {
      padding-top: 70px;
}

@media (min-width: 992px) {
  .CompanyView {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
  }

  .company-logo-container {
    margin-top: 20px;
    margin-right: 20px;
    height: 280px;
    width: 340px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px -5px #000000;
    box-shadow: 0px 0px 8px -5px #000000;
  }

  .company-logo {
    width: 250px;
    height: 180px;
    margin-top: 10px;
    border-radius: 3px;
    object-fit: contain;
    padding-bottom: -20px;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  span .icon {
    padding: 0 10px 0 10px;
    vertical-align: middle;
    margin-bottom: 5px;
  }

  .info-container {
    text-align: left;
    margin-top: 20px;
    padding-top: 20px;
    height: max-content;
    width: 900px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px -5px #000000;
    box-shadow: 0px 0px 8px -5px #000000;
  }

  .info-container .ant-descriptions-title {
    text-align: center;
  }

  .media-container {
    margin-top: 20px;
    margin-right: 20px;
    height: fit-content;
    width: 340px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px -5px #000000;
    box-shadow: 0px 0px 8px -5px #000000;
    padding-bottom: 20px;
    align-items: center;
  }
  .media-container a{
    padding: 5px;
    border-radius: 5px;
  }
  .media-container svg{
   justify-content: last baseline;
   vertical-align: text-top;
  }
  .offers-container {
    margin-top: 20px;
    height: fit-content;
    width: 900px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px -5px #000000;
    box-shadow: 0px 0px 8px -5px #000000;
  }

  .company-description {
    border-color: transparent !important;
  }

  .company-description p {
    word-spacing: .5px;
    text-align: justify;
  }
}


.instagram{
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
color: aliceblue;
}
